// BEM-Mix
// https://github.com/spriggsey/BEM-Mix
// Jack Spriggs 2018
// GNU GENERAL PUBLIC LICENSE
// VARIABLES
@import "variables";
// FUNCTIONS
@import "functions";

// Block ()
@mixin b($block) {
    .#{$blockSeparator+$block} {
        @content;
    }
}

// Element ( .__link )
@mixin e($element) {
    $selector: &;

    @if $fullElementNames == true {
        @if containsModifier($selector) {
            $block: getBlock($selector);
            @at-root {
                #{$selector} {
                    #{$block+$elementSeparator+$element} {
                        @content;
                    }
                }
            }
        } @else {
            @at-root {
                #{$selector}#{$elementSeparator}#{$element} {
                    @content;
                }
            }
        }

    } @else {
        @at-root {
            #{$selector} .#{$elementSeparator}#{$element} {
                @content;
            }
        }
    }
}

// Modifier ( .--dark )
@mixin m($modifier) {
    $selector: &;
    @if ($fullModifierNames) {
        @at-root {
            #{$selector}#{$modifierSeparator}#{$modifier} {
                @content;
            }
        }
    } @else {
        @at-root {
            #{$selector}.#{$modifierSeparator}#{$modifier} {
                @content;
            }
        }
        
    }

}

// State ( @include s('active') = .block.is-active )
@mixin s($state, $prefix: $statePrefix) {
    @at-root {
        &.#{$prefix}-#{$state} {
            @content;
        }
    }
}
