@function selectorToString($selector) {
    $selector: inspect($selector); //cast to string
    $selector: str-slice($selector, 2, -2); //remove brackets
    @return $selector;
}

@function containsModifier($selector) {
    @if str-index($selector, $modifierSeparator) {
        @return true;
    } @else {
        @return false;
    }
}

@function containsElement($selector) {
    $selector: selectorToString($selector);
    @if str-index($selector, $elementSeparator) {
        @return true;
    } @else {
        @return false;
    }
}

@function str-split($string, $separator) {
    // empty array/list
    $split-arr: ();
    // first index of separator in string
    $index: str-index($string, $separator);
    // loop through string
    @while $index != null {
        // get the substring from the first character to the separator
        $item: str-slice($string, 1, $index - 1);
        // push item to array
        $split-arr: append($split-arr, $item);
        // remove item and separator from string
        $string: str-slice($string, $index + 1);
        // find new index of separator
        $index: str-index($string, $separator);
    }
    // add the remaining string to list (the last item)
    $split-arr: append($split-arr, $string);

    @return $split-arr;
}

@function getBlock($selector) {
    $selector: selectorToString($selector);

    // trim the stupid comma...
    $commaStart: (str_index($selector,",") - 1);
    $selector: str_slice($selector, 0, $commaStart);

    // sometimes we need to split out the block from other blocks
    $list: str-split($selector, ' ');
    @if (length($list) > 1) {
        $selector: nth($list, length($list));
    }

    @if (containsModifier($selector)) {
        @if $fullModifierNames {
            $modifierStart: (str-index($selector, "#{$modifierSeparator}") - 1);
            $selector: str-slice($selector, 0, $modifierStart);
        } @else {
            $modifierStart: (str-index($selector, ".#{$modifierSeparator}") - 1);
            $selector: str-slice($selector, 0, $modifierStart);
        }
    }

    @if (containsElement($selector)) {
        @if $fullElementNames {
            $elementStart: (str-index($selector, "#{$elementSeparator}") - 1);
            $selector: str_slice($selector, 0, $elementStart);
        } @else {
            $elementStart: (str-index($selector, ".#{$elementSeparator}"));
            $selector: str_slice($selector, 0, $elementStart);
        }
    }

    @return $selector;
}
