
@import "../scss/bemix";

@include b('block') {
    position: relative;
    background: blue;
    text-align: center;
    width: 100px;
    height: 100px;
    color: white;
    margin-bottom: 1rem;

    @include e('element') {
        @include m('dave') {
            color:green;

            @include e('inside-element') {
                color: black;
                @include m('small') {
                    font-size: small;
                }
            }
        }
    }

    @include e('element') {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
