@use "../scss/bemix";

@include b('block') {
    font-size: 16px;

    @include e('element') {
        color: blue;
    }

    @include m('dark') {
        background-color: black;
        @include e('element') {
            color: #fff;
        }
    }

    @include s('clicked') {
        color: green;
    }
}
